//META{"name":"Anime Theme","description":"~No desc","author":"Moha L'abeille","version":"1.0","website":"https://discord.gg/Rb848DX"}*//{}

@import url(https://zerthox.github.io/ClearVision/css/ClearVision_v5.min.css);

:root {
	--main-color: #00ffa1;
	--hover-color: #01b271;
    --background-blur: 0px;
    --background-brightness: 100%;
}

body::after,
.callout-backdrop,
.userPopout-11hFKo::before,
.userPopout-3XzG_A::before,
.root-SR8cQa::before,
#pubs-container::before,
.auth-background,
.auth-tiling-bg,
.invite-modal .invite-splash,
.radio-theme.light label,
.radio-theme.dark label {
    background-image: url(http://185.203.119.232/CSS/anime.jpg) !important;
}